start_support.sh
pyfolio_venv/
.vim/
*.pyc
*.pyo
.scannerwork/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

packages/django_security_db/dist
packages/django_security_db/security_db.egg-info
*.bkp
*.dtmp
packages/django_security_db/build
app/equity_updater/update_manager/migrations
