<!-- templates/base.html -->
<!DOCTYPE html>

{% load static %}

<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{% block title %}Pyfolio{% endblock %}</title>
  <link rel="stylesheet" href="{% static 'base.css' %}">
</head>

<body>
  <main>
    <!-- Navigation -->
    <div id='nav'>
      <ul>
        {% block nav %}
        {% endblock %}
      </ul>
    </div>

    <!-- Content -->
    <div id='cont'>
      {% block content %}
      {% endblock %}
    </div>

  </main>
</body>
</html>
