<!-- templates/home.html -->
{% extends 'base.html' %}
{% load static %}

{% block title %}Home{% endblock %}

{% block imports %}
  <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
  <link rel="stylesheet" href="{% static 'css/plots.css' %}">
{% endblock %}

{% block nav %}
  <li><a href="{% url 'browse' %}">Browse</a></li>
{% endblock %}


{% block content %}

  {% if user.is_authenticated %}
    Hi {{ user.username }}!
    <p><a href="{% url 'logout' %}">Log Out</a></p>
  {% else %}
    <p>You are not logged in</p>
    <a href="{% url 'login' %}">Log In</a>
  {% endif %}

  <div id="pieChart"></div>

  <script>
    var chart = new ApexCharts(document.querySelector("#pieChart"), {{ pie_options|safe }} );
    chart.render();
  </script>

{% endblock %}
